{% macro comments_section(article) %}

{% set use_utterances = UTTERANCES_REPO and article.utterances_filter != "on" %}

{% set identifier = article.url %}
{% if article.comment_id %}
    {% set identifier = article.comment_id %}
{% endif %}

{% if article.status != 'draft' and article.comments != 'False' and use_utterances %}
<section class="nn-comments">
    <h2 class="nn-comments__title">Comentarios</h2>
    <p class="nn-comments__intro">
        ¿Qué te ha parecido? Déjanos tu comentario aquí abajo.
    </p>

    <div class="nn-comments__box">
        {% from '_includes/utterances_scripts.html' import comments_script_utterances with context %}
        {{ comments_script_utterances(UTTERANCES_REPO, identifier, UTTERANCES_LABEL, UTTERANCES_THEME) }}
    </div>
</section>
{% endif %}
{% endmacro %}

{% macro comments_script() %}
{% endmacro %}
