{% macro comments_section(article) %}

{% set use_commentbox = COMMENTBOX_PROJECT and article.commentbox_filter != "on" %}

{% set identifier = article.url %}
{% if article.comment_id %}
    {% set identifier = article.comment_id %}
{% endif %}

{% if article.status != 'draft' and article.comments != 'False' and use_commentbox %}
<section class="nn-comments">
    <h2 class="nn-comments__title">Comentarios</h2>
    <p class="nn-comments__intro">
        ¿Qué te ha parecido? Déjanos tu comentario aquí abajo.
    </p>

    <div class="nn-comments__box">
        <div class="commentbox" id="{{ identifier|replace('/', '-') }}"></div>
        <script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
        <script>
            commentBox('{{ COMMENTBOX_PROJECT }}', {
                className: 'commentbox',
                defaultBoxId: '{{ identifier|replace("/", "-") }}'
            });
        </script>
    </div>
</section>
{% endif %}
{% endmacro %}

{% macro comments_script() %}
{% endmacro %}
